<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <style>
    .flex-container {
      height: 50%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 100%;
    }
  </style>
<script>

  function initMap() {
    // Create a map object and specify the DOM element for display.

    var lat = document.getElementById("latitude")
    var long = document.getElementById("longitude")
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: parseInt(lat.innerHTML,10), lng: parseInt(long.innerHTML,10)},
      scrollwheel: false,
      zoom: 7
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDNGnZS3lFLPw1DLC_5gAT5F_9hga1c-k&callback=initMap"
async defer></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
{{#each data.timezones}}
  {{#if currentTime}}
    <div style="display:none">
      <div id="latitude">{{lat}}</div>
      <div id="longitude">{{long}}</div>
    </div>
    <ul>
    <ul class = "flex-container">
      <ul class = "flex-container1">
        <li class = "flex-item1"> <div id="map"> </div></li>
      </ul>
        <ul class = "flex-container2">

          <li class = "flex-item2">  {{name}} </li>
          <li class = "flex-item3">  {{time}} </li>
          <li class = "flex-item4">  {{drink}} </li>
          <li class = "flex-item5">  Rating *to be added* </li>
        </ul>
      </li>

      <ul class = "flex-container3">
        <li class = "flex-item"> main info> </li>
      </ul>

      <ul class = "flex-container4">
        <li class = "flex-item"> foot thing </li>
      </ul>



    </ul>
  {{/if}}
{{/each}}

</body>

</html>
